<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="keywords" content="CBD, THC, dabbin, concentrates, vape, vaping">
    <title>MADA Oil</title>
  </head>
  <body style="background: linear-gradient(#5000a2, #231f20);">
    <img src="./MADA_logo_white.svg"/>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  </body>
</html>
